body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #151E3F;
  font-family: 'Sansita Swashed', cursive;
  color: #E0E2DB;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.logo {
  height: 20%;
}
.button {
  padding: 3% 35% 3% 35%;
	background:linear-gradient(to bottom, #983728 5%, #a32e17 100%);
	background-color:#983728;
	border-radius:6px;
	border:1px solid #8f3a2f;
	display:inline-block;
	cursor:pointer;
  font-family: 'Lato', sans-serif;
	font-size:1.25rem;
  color: #E0E2DB;
	text-decoration:none;
}
.button:hover {
	background:linear-gradient(to bottom, #a32e17 5%, #983728 100%);
	background-color:#a32e17;
}
.button:active {
	position:relative;
	top:1px;
}
