<%- include('partials/FIRSTheading') -%>
<section class="blue-section-long">
    <img class="error-logo" src="/images/CHUGGRLogo404.png"  alt="404 logo">
    <div class="errors">
        <h1>404</h1>
        <h1>This page was not found.</h1>
    </div>
</section>

<%- include('partials/FIRSTfooting') -%>