<%- include('partials/FIRSTheading') -%>
<section class="blue-section">


    <div class="row">
      <div class="col-lg-6">
        <h1 class="slogan">Put your drink where your mouth is.</h1>
        <!-- Remove download button for launch date -->
        <button class="btn btn-secondary button"type="button" name="button">Download <span class="fab fa-apple fa-1x"></button>
          <!-- Remove create account button for launch -->
        <form class="button-form" action="/createAccount" method="get">
        <button class="btn btn-secondary button" type="submit" name="button">Create Account</i></button>
        </form>

      </div>
      <div class="col-lg-6">
      <img class="logo" src="/images/CHUGGRLogo.png" alt="">
      </div>
    </div>
</section>
  </section>
  <section id="About" class="gray-section">

    <div class="row">
      <div class="col-lg-4">
        <i class="fas fa-user-friends fa-4x"></i>
        <h3 class="feature-title">Connect</h3>
        <p>Connect with your friends all over the world.</p>
      </div>
      <div class="col-lg-4">
        <i class="fas fa-dice fa-4x"></i>
        <h3 class="feature-title">Bet</h3>
        <p>Bet drinks with your on your favorite sports and events.</p>
      </div>
      <div class="col-lg-4">
        <i class="fas fa-beer fa-4x"></i>
        <h3 class="feature-title">Win</h3>
        <p>Watch your friends drink their words when you win! Or if you lose, post a video of you drinking your bet.</p>
      </div>
    </div>
  </section>
  <section id="Download" class="blue-section">
  <div class="row">
    <div class="col-lg-6">
      <h2 class="download-cta">Having a beer with your buds shouldn't be limited by time or location. You deserve to have the opportunity to stick it to the people you care about most any time you want. And what better way to do that, than with an unlikely bet on your favorite sports team.<br><br> <em>Please drink responsibly.</em>
    </h2>

    </div>
    <div class="col-lg-6">
      <h2 class="slogan">Click to Create an Account or Download the app.</h2>


    <button class="btn btn-secondary button"type="button" name="button">Download <span class="fab fa-apple fa-1x"></button>

      <form class="button-form" action="/createAccount" method="get">
      <button class="btn btn-secondary button" type="submit" name="button">Create Account</i></button>
      </form>

    </div>
  </div>
  </section>
<%- include('partials/FIRSTfooting') -%>
